#product-pros {
    h2{
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 28px;
        font-weight: heavy;
    }

    .icon-container {
        img {
            width: 100px;
        }
    }
}