.controlls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.slider-main {
  background-image: url("../../assets/img/footer_lodyas.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 1000px 1000px;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow-x: none;
}
.slider-main.js-on {
  overflow-x: hidden;
}

.slider-main {
  height: 300vh;
}

element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
$mainCardHeight: 318px;
$mainCardWidth: 200px;
*/
element.card {
  position: absolute;
  width: 300px;
  height: 477px;
  top: calc(50vh - 477px/2);
  left: calc(30% - 300px/2);
  -webkit-transition: transform 1s;
  /* Safari */
  transition: transform 1s;
}
element.card img {
  width: 100%;
}
element.card.slide-out:hover {
  -ms-transform: translateY(-200px);
  /* IE 9 */
  -webkit-transform: translateY(-200px);
  /* Chrome, Safari, Opera */
  transform: translateY(-200px) !important;
}

element.other-cards {
  position: absolute;
  top: calc(calc(50vh - 477px/2) + 100vh);
  -ms-transform: translateY(0);
  /* IE 9 */
  -webkit-transform: translateY(0);
  /* Chrome, Safari, Opera */
  transform: translateY(0);
}
element.other-cards.covered {
  position: fixed;
  top: calc(50vh - 477px/2);
}
element.other-cards.covered.toBottom {
  position: absolute;
  top: inherit;
  bottom: calc(calc(50vh - calc(477px/2)/2));
}

#card-1 {
  position: fixed;
  z-index: 506;
}
#card-1.covered {
  /*position: absolute;*/
  top: calc(50vh - 477px/2);
}
#card-1.covered.toBottom {
  position: absolute;
  top: inherit;
  bottom: calc(calc(50vh - 477px/2));
}
#card-1.slide-out {
  -ms-transform: translateY(-50px);
  /* IE 9 */
  -webkit-transform: translateY(-50px);
  /* Chrome, Safari, Opera */
  transform: translateY(-50px);
}

#card-2 {
  z-index: 505;
}
#card-2.slide-out {
  -ms-transform: translateY(-60px);
  /* IE 9 */
  -webkit-transform: translateY(-60px);
  /* Chrome, Safari, Opera */
  transform: translateY(-60px);
}

#card-3 {
  z-index: 504;
}
#card-3.slide-out {
  -ms-transform: translateY(-70px);
  /* IE 9 */
  -webkit-transform: translateY(-70px);
  /* Chrome, Safari, Opera */
  transform: translateY(-70px);
}

#card-4 {
  z-index: 503;
}
#card-4.slide-out {
  -ms-transform: translateY(-80px);
  /* IE 9 */
  -webkit-transform: translateY(-80px);
  /* Chrome, Safari, Opera */
  transform: translateY(-80px);
}

#card-5 {
  z-index: 502;
}
#card-5.slide-out {
  -ms-transform: translateY(-90px);
  /* IE 9 */
  -webkit-transform: translateY(-90px);
  /* Chrome, Safari, Opera */
  transform: translateY(-90px);
}

#card-6 {
  z-index: 501;
}
#card-6.slide-out {
  -ms-transform: translateY(-100px);
  /* IE 9 */
  -webkit-transform: translateY(-100px);
  /* Chrome, Safari, Opera */
  transform: translateY(-100px);
}

#case {
  opacity: 0.5;
  width: calc(300px + 40px);
  height: 685px;
  position: absolute;
  /* top: calc(calc(50vh - 477px/2) - 7px); case on element */
  top: calc(calc(50vh - 477px/2) - 5px + 100vh);
  left: calc(calc(30% - 300px/2) - 16px);
  z-index: 507;
  /*background-image: url('../../assets/img/iphone.png');*/
}
#case img {
  width: 100%;
  height: 100%;
}
#case.covered {
  position: fixed;
  top: calc(calc(50vh - 477px/2) - 5px);
}
#case.covered.toBottom {
  position: absolute;
  top: inherit;
  bottom: calc(calc(50vh - 477px/2) - 200px);
}

@media all and (max-width: 699px) {
  element.card,
  element.other-cards {
    position: absolute;
    width: calc(300px/2);
    height: calc(477px/2);
    top: calc(calc(50vh - calc(477px/2)/2) + 100vh);
    left: calc(50% - 300px/2);
  }
  element.card.covered,
  element.other-cards.covered {
    position: fixed;
    top: calc(50vh - calc(477px/2)/2) !important;
  }
  element.card.covered.toBottom,
  element.other-cards.covered.toBottom {
    position: absolute;
    top: inherit !important;
    bottom: calc(calc(50vh - calc(477px/2)/2));
  }

  #card-1 {
    position: fixed;
    width: calc(300px/2);
    height: calc(477px/2);
    top: calc(50vh - calc(477px/2)/2);
    left: calc(50% - 300px/2);
  }
  #card-1.covered {
    position: fixed;
    top: calc(50vh - calc(477px/2)/2) !important;
  }
  #card-1.covered.toBottom {
    position: absolute;
    top: inherit !important;
    bottom: calc(calc(50vh - calc(477px/2)/2));
  }

  #case {
    width: calc(calc(300px + 40px)/2);
    height: calc(685px/2);
    top: calc(calc(50vh - calc(477px/2)/2) - 5px + 100vh);
    left: calc(calc(50% - 300px/2) - 8px);
  }
  #case.covered {
    position: fixed;
    top: calc(calc(50vh - calc(477px/2)/2) - 5px);
  }
  #case.covered.toBottom {
    position: absolute;
    top: inherit !important;
    bottom: calc(calc(50vh - calc(477px/2)/2) - 100px);
  }
}
